version: '3.8'

services:
  # web:
  #   build: .
  #   container_name: django_app
  #   ports:
  #     - '8000:8000'
  #   environment:
  #     - REDIS_URL=redis://redis:6379
  #   depends_on:
  #     - redis

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

  celery-worker:
    build:
      context: .
      dockerfile: Dockerfile.celery
    tmpfs:
      - /tmp:size=1g
    volumes:
      - .:/app
      - ./media:/app/media
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: celery -A amica worker --loglevel=info
    depends_on:
      - redis
  
  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile.celery
    tmpfs:
      - /tmp:size=1g
    volumes:
      - .:/app
      - ./media:/app/media
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: celery -A amica beat --loglevel=info
    depends_on:
      - redis
  
volumes:
  redis_data:
