amqp==5.3.1
asgiref==3.10.0
attrs==25.4.0
autobahn==25.10.2
Automat==25.4.16
billiard==4.2.3
black==25.12.0
cachetools==6.2.2
celery==5.5.3
certifi==2025.11.12
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.4
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
decorator==5.2.1
defusedxml==0.7.1
Django==5.2.8
django-allauth==65.13.0
django-appconf==1.2.0
django-cors-headers==4.9.0
django-debug-toolbar==6.1.0
django-filter==25.2
django-imagekit==6.0.0
django-polymorphic==4.1.0
django-sslserver==0.22
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
google-auth==2.41.1
google-auth-oauthlib==1.2.3
hyperlink==21.0.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
incremental==24.7.2
kombu==5.5.4
Markdown==3.10
moviepy==2.2.1
msgpack==1.1.2
mypy_extensions==1.1.0
numpy==2.3.5
oauthlib==3.3.1
packaging==25.0
pathspec==0.12.1
pilkit==3.0
pillow==11.3.0
pillow_heif==1.1.1
platformdirs==4.5.1
proglog==0.1.12
prompt_toolkit==3.0.52
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
PyJWT==2.10.1
pyOpenSSL==25.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python3-openid==3.2.0
pytokens==0.3.0
redis==7.1.0
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
social-auth-app-django==5.6.0
social-auth-core==4.8.1
sqlparse==0.5.3
tqdm==4.67.1
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
wheel==0.45.1
zope.interface==8.1.1
