* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body.selection {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2)
      format('woff2'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'),
    url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
      format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body {
  background-size: cover;
  background-attachment: fixed;
  overflow: overlay;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgb(10, 10, 10);
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
}

::-webkit-scrollbar {
  display: none;
}

.controls {
  margin-top: 20px;
}

/*.controls:hover { background: #AFEEEE; }
.controls:active { background: #5F9EA0; }*/

.next_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(160, 150, 170);
  padding: 12px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  width: 100%;
  border-radius: 12px;
  border-style: none;
  text-decoration: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next_button:hover {
  background: rgb(130, 120, 140);
}
.next_button:active {
  background: rgb(110, 100, 120);
}

#signup_login {
  color: pink;
  text-decoration: none;
}

#offset {
  margin-top: 100px;
  position: relative;
  color: white;
  width: 25em;
  height: 30em;
  padding: 20px;
}

#registration_form {
  text-align: center;
  font-size: 35px;
  padding: 30px;
}

.form-label {
  color: grey;
  font-size: 13px;
  margin-left: 4px;
  padding: 0 3px;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form {
  border: 1px solid rgb(80, 80, 80);
  border-radius: 7px;
  height: 55px;
  margin-top: 10px;
  padding: 0 5px;
  position: relative;
}

.form:hover {
  border: 1px solid rgb(130, 120, 140);
}

.form:focus-within {
  border: 2px solid rgb(130, 120, 140);
}

/*#info{
    padding: 20px;
    text-align: center;
    color: grey;
}*/

input {
  width: 100%;
  outline: none;
  padding: 7px;
  color: #fff;
  caret-color: #fff;
  font-size: 16px !important;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none !important;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-appearance: none !important;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px rgb(30, 30, 30) inset !important;
  background: none !important;
  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  box-shadow: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff !important;
  color: #fff !important;

  border: none !important;
  outline: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  box-shadow: none !important;

  transition: background-color 5000s ease-in-out 0s;
}

input:autofill {
  box-shadow: 0 0 0 30px rgb(30, 30, 30) inset !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  box-shadow: none !important;
}

input:focus {
  outline: none !important;
  border: none !important;
  -webkit-background-clip: text !important;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[list]::-webkit-calendar-picker-indicator {
  display: none;
}

input::placeholder {
  color: rgb(0, 0, 0, 0);
}

#OR_div {
  border-bottom: 1px solid grey;
  text-align: center;
  color: grey;
  height: 12px;
}

#OR {
  font-size: 13px;
  background: rgb(30, 30, 30);
  padding: 0 3px;
}

#google_icon {
  opacity: 0.9;
  width: 20px;
}

.google_link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  white-space: nowrap;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  text-shadow: none;
  text-align: center;

  gap: 10px;
}

.errorlist {
  color: #d47fcb;
  margin-left: 20px;
  padding: 10px 0;
}
