{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chillin` - Chat</title>
    <link rel="manifest" href="{% static 'manifest.json' %}" />
    <meta name="theme-color" content="#f00" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no, shrink-to-fit=no"
    />
    <meta name="description" content="Messenger App" />
    <meta content="true" name="HandheldFriendly" />
    <meta content="width" name="MobileOptimized" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="stylesheet" href="{% static 'CSS/room.css' %}" />
    <script src="https://unpkg.com/swup@3.0.2/dist/Swup.umd.js"></script>
    <link
      rel="shortcut icon"
      href="{% static 'Images/main_site_icon.png' %}"
      type="image/png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="choose_list">
      {% csrf_token %}
      <div class="search_div" id="search">
        <div class="liquidGlass-effect"></div>
        <div class="liquidGlass-tint"></div>
        <div class="liquidGlass-shine"></div>
        <div class="search_field_div">
          <div class="search_icon_div">
            <object
              id="search_icon"
              data="{% static 'SVG/search.svg' %}"
              type="image/svg+xml"
              aria-label="Search"
            ></object>
          </div>
          <div class="search_field_input">
            <input class="search_field" name="term" placeholder=" " />
            <span class="search_field_placeholder">Search</span>
          </div>
        </div>
        <div class="search_cross_div">
          <object
            class="search_cross"
            data="{% static 'SVG/cross.svg' %}"
          ></object>
        </div>
      </div>
      <div class="left-menu">
        <div class="shadow-header"></div>

        <div class="settings_menu">
          <div id="user_avatar_settings_menu">
            <div class="user_avatar_settings_menu_background"></div>
            <div id="user_avatar_settings_menu_image"></div>
            <div id="username_settings_menu"></div>
          </div>
          <div class="settings_menu_options">
            <!-- <div class="system_settings">
              <div id="settings" class="settings_menu_div">
                <span>Account</span>
                <svg class="arrow-right">
                  <use href="#arrow"></use>
                </svg>
              </div>
            </div> -->
            <div class="system_settings">
              <div id="create_new_group" class="settings_menu_div">
                <div class="settings_menu_div_padding">
                  <span>New Group</span>
                  <svg class="arrow-right">
                    <use href="#arrow"></use>
                  </svg>
                </div>
              </div>
            </div>
            <!--                        <div id="create_new_channel" class="settings_menu_div">New Channel</div>-->
            <div class="system_settings">
              <div id="settings" class="settings_menu_div">
                <div class="settings_menu_div_padding">
                  <span>Appearance</span>
                  <svg class="arrow-right">
                    <use href="#arrow"></use>
                  </svg>
                </div>
              </div>
            </div>
            <div class="system_settings">
              <div
                id="logout"
                class="settings_menu_div"
                class="logout-btn"
                data-logout-url="{% url 'logout' %}"
                data-csrf-token="{{ csrf_token }}"
                onclick="logoutUser(this)"
              >
                <div class="settings_menu_div_padding">
                  <span id="logout-span">Logout</span>
                  <svg class="arrow-right">
                    <use href="#arrow"></use>
                  </svg>
                </div>
              </div>
              <div class="reloadLocationButton settings_menu_div">
                <div class="settings_menu_div_padding">
                  <span>Reload App</span>
                  <svg class="arrow-right">
                    <use href="#arrow"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          id="users_search active"
          class="users_search active"
          method="POST"
        ></div>
        <div class="settings">
          <div id="user_settings_div_main" style="display: none !important">
            <div id="user_settings_image_div"></div>
            <div id="user_settings_div_email_username">
              <div id="user_settings_div"></div>
              <div id="user_settings_email_div"></div>
            </div>
          </div>

          <!-- <hr
            style="background: rgba(0, 0, 0, 0.2); height: 1px; border: none"
          /> -->

          <div class="appearance-header">
            <svg class="arrow-left" id="appearance_exit">
              <use href="#arrow"></use>
            </svg>
          </div>
          <div class="appearance_options">
            <div id="appearance_option">
              <div id="chat_background_color">Background Color</div>

              <div id="color_chat_change_div">
                <input
                  type="color"
                  id="color_chat_change"
                  name="color_chat_change"
                />
              </div>
            </div>
            <div class="appearance_option">
              <div id="shadow_degree">Background Shadow Degree</div>
              <div>
                <input
                  id="shadow_degree_chat"
                  type="range"
                  min="0"
                  max="360"
                  step="1"
                  value="0"
                />
              </div>
            </div>
            <div class="appearance_option">
              <div id="reduce_animations">
                Reduce Animations
                <div class="switch_div">
                  <label class="switch" for="reduce_animations_check">
                    <input type="checkbox" id="reduce_animations_check" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>

            <!--                        <div><input id="chat_background_image" type="file" accept="image/png, image/gif, image/jpeg"></div>-->

            <div id="avatar_profile_set" style="display: none !important">
              <input
                type="file"
                id="input_user_avatar"
                accept="image/png, image/gif, image/jpeg"
              />
              <div id="avatar_profile_set_save">Save</div>
            </div>
            <div class="appearance_option" style="display: none">
              <div id="dark_mode">
                Dark Theme
                <div class="switch_div">
                  <label class="switch" for="dark_mode_check">
                    <input type="checkbox" id="dark_mode_check" />
                    <span class="slider round"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="left-menu-footer-padding">
        <fieldset class="left-menu-footer">
          <div class="tab-indicator"></div>
          <div class="left-menu-footer-chats active" data-tab="chats">
            <svg class="chats_icon">
              <use href="#chats-icon"></use>
            </svg>
          </div>
          <div class="left-menu-footer-settings" data-tab="settings">
            <div class="dropbtn"></div>
          </div>
        </fieldset>
      </div>
      <div id="create_new_group_room">
        <div class="creation_group_first_page active">
          <div id="creation_group_GIVE_A_NAME">
            <div id="creation_group_NEXT_CANCEL_div_GROUPNAME">
              <div id="creation_group_NEXT_CANCEL_div">
                <div id="creation_group_CANCEL_GROUPNAME">Cancel</div>
                <div id="creation_group_NEXT_GROUPNAME">Next</div>
              </div>
            </div>
            <input
              placeholder="Group Name"
              id="creation_group_GIVE_A_NAME_input"
            />
          </div>
          <div id="creation_group_AVATAR">
            <input
              type="file"
              id="input_room_avatar"
              accept="image/png, image/gif, image/jpeg"
            />
            <label for="input_room_avatar">Group Photo</label>
          </div>
        </div>

        <div class="creation_group_second_page">
          <div id="creation_group_CREATE_CANCEL_div">
            <div id="creation_group_CANCEL">Cancel</div>
            <div id="creation_group_CREATE">Create</div>
          </div>
          <div class="all_my_contacts" method="POST"></div>
        </div>
      </div>
      <div id="create_new_channel_room" style="display: none !important">
        <div id="creation_channel_GIVE_A_NAME">
          <input id="creation_channel_GIVE_A_NAME_input" />
        </div>

        <div id="creation_channel_CREATE_CANCEL_div">
          <span id="creation_channel_CANCEL">Cancel</span>
          <span id="creation_channel_CREATE">Create</span>
        </div>

        <div id="creation_channel_NEXT_CANCEL_div_GROUPNAME">
          <input
            type="file"
            id="input_channel_avatar"
            accept="image/png, image/gif, image/jpeg"
          />
          <span id="creation_channel_CANCEL_GROUPNAME">Cancel</span>
          <span id="creation_channel_NEXT_GROUPNAME">Next</span>
        </div>
      </div>
    </div>

    <div class="main_chat_window">
      <div class="background-container">
        <canvas id="gradient-canvas"></canvas>
        <canvas id="pattern-canvas"></canvas>
      </div>
      <!-- <div class="chat-background-image"></div> -->
      <div class="attachments">
        <div id="attachments_title">
          <div class="close-menu">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19 5L5 19M5.00001 5L19 19"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </div>

        <div id="opponent_photo_avatar"></div>
        <div class="tab">
          <div class="tablinks" onclick="openCity(event, 'attachment_photos')">
            Photos
          </div>
          <div class="tablinks" onclick="openCity(event, 'attachment_videos')">
            Videos
          </div>
          <div class="tablinks" onclick="openCity(event, 'attachment_files')">
            Files
          </div>
          <div class="tablinks" onclick="openCity(event, 'attachment_music')">
            Music
          </div>
          <div class="tablinks" onclick="openCity(event, 'attachment_links')">
            Links
          </div>
        </div>

        <div id="attachment_photos" class="tabcontent"></div>
        <div id="attachment_videos" class="tabcontent"></div>
        <div id="attachment_files" class="tabcontent"></div>
        <div id="attachment_music" class="tabcontent"></div>
        <div id="attachment_links" class="tabcontent"></div>
      </div>

      <div id="opponent_title_name">
        {% csrf_token %}
        <div class="go_home_page" onclick="go_home_page_func()">
          <svg class="arrow-left">
            <use href="#arrow"></use>
          </svg>
        </div>
        <!-- <input type="reset" id="name" value="{{users}}" /> -->
        <div id="name"></div>
        <div class="opponent_photo_div">
          <img
            class="user-info-avatar"
            src="{% static 'Images/default_avatar.jpg' %}"
            class="user-info-avatar"
          />
        </div>
        <input type="hidden" id="username_id" value="{{username.id}}" />
      </div>

      <div class="audio_title_div">
        <div id="file_name_title_div"></div>
        <div class="close_audio_div" onclick="close_audio_div_func()">X</div>
        <input
          type="range"
          id="audio-slider"
          min="0"
          max="1000000"
          value="0"
          step="0.0000000001"
          oninput="seek()"
        />
      </div>

      <audio class="hidden_audio"><source type="audio/mpeg" /></audio>

      <div class="room_wrapper">
        <div class="offset room_div room_body" id="display"></div>
        <div class="scroll_down">
          <div class="liquidGlass-effect-scroll"></div>
          <svg class="arrow-down">
            <use href="#arrow"></use>
          </svg>
        </div>
        <div class="send_div_container">
          <form
            id="post-form"
            class="send_div send_div_class"
            enctype="multipart/form-data"
            action="send"
          >
            {% csrf_token %}

            <div id="file_div">
              <input type="file" multiple name="file" id="file" download />
              <svg id="input_attach">
                <use href="#input-attach"></use>
              </svg>
            </div>

            <input
              type="hidden"
              name="username"
              id="username"
              value="{{username.id}}"
            />
            <input
              type="hidden"
              name="room_id"
              id="room_id"
              value="{{room_details.id}}"
            />
            <input
              type="hidden"
              name="room"
              id="room"
              value="{{room_details.name}}"
            />
            <div class="textarea_container">
              <textarea
                type="text"
                placeholder=""
                name="message"
                class="textarea"
              ></textarea>
              <span class="textarea_placeholder">Message</span>
            </div>

            <div id="selfie" style="display: none">
              <input
                type="file"
                id="picture"
                name="file"
                accept="image/*"
                capture="environment"
              />
              <svg class="camera_svg">
                <use href="#camera-svg"></use>
              </svg>
            </div>
            <div class="input_submit">
              <svg class="send_svg">
                <use href="#send-phone"></use>
              </svg>
            </div>
          </form>
        </div>
      </div>
      <!--              <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>-->
      <!--              <h3 id="status"></h3>-->
      <!--              <p id="loaded_n_total"></p>-->
      <div id="myModal" class="modal">
        <span class="close"></span>
      </div>
    </div>

    <div id="media_display">
      <img class="modal-content" id="img01" alt="" />
      <div id="caption"></div>
    </div>

    <div class="calendar_div">
      <header>
        <p class="current-date"></p>
        <div class="icons">
          <span
            id="prev"
            class="material-symbols-rounded fa fa-angle-left"
          ></span>
          <span
            id="next"
            class="material-symbols-rounded fa fa-angle-right"
          ></span>
        </div>
      </header>
      <div class="calendar">
        <ul class="weeks">
          <li>Sun</li>
          <li>Mon</li>
          <li>Tue</li>
          <li>Wed</li>
          <li>Thu</li>
          <li>Fri</li>
          <li>Sat</li>
        </ul>
        <ul class="days"></ul>
      </div>
    </div>

    <div class="wrapper">
      <div class="content">
        <ul class="menu">
          <li class="item">
            <i class="uil uil-eye"></i>
            <span>Preview</span>
          </li>
          <li class="item share">
            <div>
              <i class="uil uil-share"></i>
              <span>Share</span>
            </div>
            <i class="uil uil-angle-right"></i>
            <ul class="share-menu">
              <li class="item">
                <i class="uil uil-twitter-alt"></i>
                <span>Twitter</span>
              </li>
              <li class="item">
                <i class="uil uil-instagram"></i>
                <span>Instagram</span>
              </li>
              <li class="item">
                <i class="uil uil-dribbble"></i>
                <span>Dribble</span>
              </li>
              <li class="item">
                <i class="uil uil-telegram-alt"></i>
                <span>Telegram</span>
              </li>
            </ul>
          </li>
          <li class="item">
            <i class="uil uil-link-alt"></i>
            <span>Get Link</span>
          </li>
          <li class="item">
            <i class="uil uil-copy"></i>
            <span class="tooltip" onclick="saveText()" onmouseout="outFunc()">
              <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
              Copy text
            </span>
          </li>
          <li class="item">
            <i class="uil uil-trash-alt"></i>
            <span>Delete</span>
          </li>

          <li class="item">
            <i class="uil"></i>
            <span class="tooltip" id="uil-select"> Select </span>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <!-- <script src="{% static 'JS/room.js' %}"></script> -->
</html>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="chats-icon" viewBox="0 0 256 256">
    <path
      d="M232.07 186.76a80 80 0 0 0-62.5-114.17a80 80 0 1 0-145.64 66.17l-7.27 24.71a16 16 0 0 0 19.87 19.87l24.71-7.27a80.39 80.39 0 0 0 25.18 7.35a80 80 0 0 0 108.34 40.65l24.71 7.27a16 16 0 0 0 19.87-19.86Zm-16.25 1.47L224 216l-27.76-8.17a8 8 0 0 0-6 .63a64.05 64.05 0 0 1-85.87-24.88a79.93 79.93 0 0 0 70.33-93.87a64 64 0 0 1 41.75 92.48a8 8 0 0 0-.63 6.04"
    />
  </symbol>
</svg>

<svg width="0" height="0" opacity="0" visibility="hidden">
  <defs>
    <linearGradient id="strokeGradient">
      <stop offset="0%" stop-color="#ffffff" />
      <stop offset="100%" stop-color="#ccc" />
    </linearGradient>
  </defs>
</svg>

<svg width="0" height="0" opacity="0" visibility="hidden">
  <defs>
    <linearGradient
      id="strokeGradientCustomColor"
      x1="0%"
      y1="0%"
      x2="0%"
      y2="100%"
    >
      <stop offset="0%" stop-color="var(--myColor3)" />
      <stop offset="35%" stop-color="var(--myColor2)" />
      <stop offset="100%" stop-color="var(--myColor1)" />
    </linearGradient>
  </defs>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="arrow" viewBox="0 0 24 24">
    <path
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="m10 17l5-5l-5-5"
    />
  </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" display="none">
  <symbol id="send-phone" viewBox="0 0 24 24">
    <path
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="1.5"
      d="m6.998 10.247l.435.76c.277.485.415.727.415.993s-.138.508-.415.992l-.435.761c-1.238 2.167-1.857 3.25-1.375 3.788c.483.537 1.627.037 3.913-.963l6.276-2.746c1.795-.785 2.693-1.178 2.693-1.832c0-.654-.898-1.047-2.693-1.832L9.536 7.422c-2.286-1-3.43-1.5-3.913-.963c-.482.537.137 1.62 1.375 3.788Z"
    />
  </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" display="none">
  <symbol id="input-attach" viewBox="0 0 24 24">
    <path
      d="M20 10.9696L11.9628 18.5497C10.9782 19.4783 9.64274 20 8.25028 20C6.85782 20 5.52239 19.4783
                4.53777 18.5497C3.55315 17.6211 3 16.3616 3 15.0483C3 13.7351 3.55315 12.4756 4.53777 11.547L12.575
                3.96687C13.2314 3.34779 14.1217 3 15.05 3C15.9783 3 16.8686 3.34779 17.525 3.96687C18.1814 4.58595
                18.5502 5.4256 18.5502 6.30111C18.5502 7.17662 18.1814 8.01628 17.525 8.63535L9.47904 16.2154C9.15083
                16.525 8.70569 16.6989 8.24154 16.6989C7.77738 16.6989 7.33224 16.525 7.00403 16.2154C6.67583 15.9059
                6.49144 15.4861 6.49144 15.0483C6.49144 14.6106 6.67583 14.1907 7.00403 13.8812L14.429 6.88674"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      fill="none"
    />
  </symbol>
</svg>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="camera-svg" viewBox="0 0 24 24">
    <path
      fill="none"
      d="M3,9A1,1,0,0,0,4,8V5A1,1,0,0,1,5,4H8A1,1,0,0,0,8,2H5A3,3,0,0,0,2,5V8A1,1,0,0,0,3,9ZM8,20H5a1,1,0,0,1-1-1V16a1,1,0,0,0-2,0v3a3,3,0,0,0,3,3H8a1,1,0,0,0,0-2ZM12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14ZM19,2H16a1,1,0,0,0,0,2h3a1,1,0,0,1,1,1V8a1,1,0,0,0,2,0V5A3,3,0,0,0,19,2Zm2,13a1,1,0,0,0-1,1v3a1,1,0,0,1-1,1H16a1,1,0,0,0,0,2h3a3,3,0,0,0,3-3V16A1,1,0,0,0,21,15Z"
    ></path>
  </symbol>
</svg>
